.navbar{
    background-color: var(--theme);
    padding: 0.8rem 1.5rem;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    color: var(--white);
    font-weight: 500;
    font-size: 1.2rem;
    cursor: pointer;
}
.userPic-logout-wrapper{
    display: flex;
    align-items: center;
    gap: 0.75rem;
}
.userPic-logout-wrapper img{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}
.link{
    opacity: 0.8;
    cursor: pointer;
}
.link:hover{
    opacity: 1;
    transition: all 0.3s;
}
