.wrapper {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;  
 height: 90vh;
}
.charts-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem;
    margin: 1rem;
    
}
.pie-chart,
.line-chart{
    padding: 1rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
}
.pie-chart{
    width: 30%;
}
.pie, .line{
    width: 100%;
}


@media screen and (max-width: 426px){
    .charts-wrapper{
        flex-direction: column;
        gap: 0.5rem;
        padding: 0.5rem 0;
    }
    .pie-chart{
        width: 100%;
    }
}